<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wakemeapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="WakeMeApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wakemeapp.MainActivity"
             android:label="WakeMeApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.example.wakemeapp.AlarmReceiver"
            android:process=":remote"/>

        <activity
            android:name="com.example.wakemeapp.SeverityActivity"
             android:label="WakeMeApp" >
        </activity>
        <activity
            android:name="com.example.wakemeapp.SecondActivity"
             android:label="WakeMeApp" >
        </activity>
        <activity
            android:name="com.example.wakemeapp.ThirdActivity"
             android:label="WakeMeApp">
        </activity>
        <activity
            android:name="com.example.wakemeapp.AlarmActivity"
             android:label="WakeMeApp">
        </activity>
        <activity
            android:name="com.example.wakemeapp.QuestionActivity"
             android:label="WakeMeApp">
        </activity>
        <activity
            android:name="com.example.wakemeapp.LastActivity"
             android:label="WakeMeApp">
        </activity>
        <activity
            android:name="com.example.wakemeapp.FourthActivity"
             android:label="WakeMeApp">
        </activity>
        <activity
            android:name="com.example.wakemeapp.AlarmReceiver"
             android:label="WakeMeApp">
        </activity>
    </application>

</manifest>
